header{
    background-color:#F5E8C7;
}
nav{
    background-color:#DEBA9D;
}
section{
    background-color:#9E7777;
    grid-column: 1/4;
}
aside{
    background-color: #EDEDD0;
    grid-column: 4/5;
}
footer{
    background-color:#6F4C5B;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}